<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.fruity.usg"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity android:label="Pasien" android:name="id.fruity.usg.LoginActivity" android:theme="@style/Theme.Sherlock">
            
        </activity>
        <activity android:label="Pasien" android:name="id.fruity.usg.PatientListActivity" android:theme="@style/Theme.Sherlock">
             <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="Pasien" android:name="id.fruity.usg.PatientActivity" android:theme="@style/Theme.Sherlock" >
           
        </activity> 
        <activity android:label="Pasien" android:name="id.fruity.usg.UsgActivity" android:theme="@style/Theme.Sherlock" />
        <activity android:label="Pasien" android:name="id.fruity.usg.AddPatientActivity" android:theme="@style/Theme.Sherlock" />
        <activity android:label="Pasien" android:name="id.fruity.usg.AddPhotoActivity" android:theme="@style/Theme.Sherlock" />
        
    </application>

</manifest>